body {
  background-image: url("/background.jpg");
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 48px;
  margin-top: 100px;
}
h2 {
  font-size: 24px;
}
a.bouton {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}
a.bouton:hover {
  background-color: rgb(164, 4, 4);
}
