body {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
}
h1 {
  font-size: 48px;
  margin-top: 100px;
}
h2 {
  font-size: 24px;
}
a.bouton {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}
